extends master.pug
block content
        form#login-form(method='post' action='/login')
        .heading Connectez-vous !
        .left
            label(for='email') Email
            br
            input#email(type='email' name='email')
            br
            label(for='password') Password
            br
            input#pass(type='password' name='password')
            br
            input(method='post' type='submit' value='Login')
        br    
        .heading Vous pouvez vous connecter aussi avec :    
        br
        .right
            .connect 
                a.twitter(href='#')
                    i.fab.fa-twitter(aria-hidden='true')
                a.github(href='auth/github/callback')
                    i.fab.fa-github(aria-hidden='true')
                a.google-plus(href='#')
                    i.fab.fa-google-plus(aria-hidden='true')