<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
        link(href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,800",rel="stylesheet")
        link(style type="text/css", href="css/style.css", rel="stylesheet" )        
        title Lien header
    body
        h1
        input#burger(type='checkbox')
        label(for='burger')
            span.spanBurger
            span.spanBurger
            span.spanBurger
        nav
            ul
                li.listeMenu
                    a.ButtonMenuMain(href='/')|Accueil
                if user
                    li| Vous etes connecté en tant que #{user.firstname} #{user.lastname}
                    li.listeMenu
                        a.ButtonMenuMain(href='/') |Deconnexion
                else    
                    li.listeMenu 
                        a.ButtonMenuMain(href='/login')|Connexion        
                    li.listeMenu 
                        a.ButtonMenuMain(href='/signup')|Inscription  

        each messages, kind in flashMessage
            div.alert.alert-success.alert-(kind)
                each message in messages 
                    | #{message}
   
        block content