<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(style type="text/css", href="css/style.css", rel="stylesheet" )
        title Forum
    body
        .form-style-5
            form
                fieldset
                    legend
                        span.number 1
                        |  Candidate Info
                    input(type='text' name='field1' placeholder='Nom *')
                    input(type='email' name='field2' placeholder='Email *')
                    textarea(name='field3' placeholder='Quelque informations')
                fieldset
                    legend
                        span.number 2
                        |  Additional Info
                    textarea(name='field3' placeholder='Tes études')
                input(type='submit' value='Apply')