<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(style type="text/css", href="css/style.css", rel="stylesheet" )
        title Forum
    body
        .form-style-5
            form( method='post' action='/signup')
                fieldset
                    legend
                        span.number 1
                        |  Inscription
                    input(type='text' name='lastname' value=(user && user.lastname) placeholder='Nom *')

                    //-p(class="valeur")
                    //-p(class=(varname && varanme.name))

                    input(type='text' name='firstname' value=(user && user.firstname) placeholder='Prénom *')                    
                    input(type='email' name='email' value=(user && user.email) placeholder='Email *')
                    input(type='password' name='pass' placeholder='Password *')
                    input(type='password' name='pass_confirmation' placeholder='Confir Password *')                    
                    textarea(name='field3' placeholder='Quelque informations')
                fieldset
                    legend
                        span.number 2
                        |  Info suplémentaire
                    textarea(name='field3' placeholder='Tes études...')
                input(type='submit' value='Submit')

        if errors
                div.alert.alert-danger
                    each error, index in errors
                        | #{error} <br>